.footer {
    margin-top: 1rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .outro {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;

}

.footer .contacts {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;    
}
.footer .contacts > div {
    align-self: center;
    justify-self: center;
}
.footer .contacts  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  
}
.footer .contacts  h2 {
    align-items: center;
    justify-self: center;
   /* margin-left: 2rem; */
}


@media screen and (max-width:968px) {
    .footer .contacts > div {
        font-size: 15px;
    }
    .footer .contacts {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width:700px) {
    .footer .contacts > div {
        font-size: 9px;
    }

}