.shero {
    width: 100%;
    height: 30rem;
    /* background-color: none; */
    background-image: url("../../components/images/image\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.shero h2 {
    font-size: 60px;
    background-color: rgba(186, 240, 240, 0.459);
    margin-bottom: 0rem;
    
}
.shero p {
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(186, 240, 240, 0.459);
    
}
@media screen and (max-width: 968px) {
    .shero {
     height: 70vh;
    }
    .shero h2 {
     font-size: 40px;
 }
 .shero p {
     font-size: 30px;
     text-align: center;
 }
 }

@media screen and (max-width: 725px) {
   .shero {
    height: 70vh;
   }
   .shero h2 {
    font-size: 40px;
 
}
.shero p {
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
}