.hero {
    margin-top: 0px;
    width: 100%;
    height: 600px;
    background-image: url("../images/images\ \(5\).jpg");
    background-position: center;
    background-size: cover;
    background-color: rgb(103, 121, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.hero >h2 {
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.hero >p {
    font-size: 30px;
}

.hero button {
    margin-left: 2px;
    margin-right: 2px;
    gap: 20px;
    height: 40px;
}